.SortAndFilter {
  width: 50%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  flex-direction: column;
}
.SortAndFilter > div:nth-of-type(1) {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.SortAndFilter > div:nth-of-type(2) {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.q {
  width: 160px;
  height: 100%;
}
.q > div {
  width: 160px;
  height: 45px;
  background-color: #222831;
  border-radius: 2px;
  display: flex;
  color: white;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}
.q > p {
  margin-top: 5px;
  margin-bottom: 5px;
  color: white;
}
